@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-dm: "DM Serif Display", serif;
  --font-sans: "General Sans", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-IBM: "IBM Plex Sans", sans-serif;
  --font-dm-mono: "DM Mono", monospace;
  --text-p: #ffffff;
  --text-s: #c7c7c7;
}

/* font-(family-name:--font-logo) */

/* Hide scrollbar but allow scrolling */
.scrollbar-container::-webkit-scrollbar {
  display: none;
}

.scrollbar-container {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}